---

name: cabal

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:

  build-with-cabal:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v3.3.0

      - name: Install Nix
        uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            ## NOTE: This substituter is probably not needed considering Cabal's
            ## simple flake. It is here for consistency with `haskell.nix.yaml`.
            extra-substituters = https://cache.iog.io
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

      - name: Setup Cabal Flake
        run: |
          cp .github/environments/cabal-flake.nix  flake.nix
          cp .github/environments/cabal-flake.lock flake.lock

      - name: Install Nix Dependencies
        run: nix develop --command true

      - name: Build Cabal Dependencies
        run: |
          nix develop --command cabal update
          nix develop --command cabal build --only-dependencies

      - name: Build With Cabal
        run: nix develop --command cabal build

      - name: Run With Cabal
        run: nix develop --command cabal run
